<div class=""
    data-sly-use.model="com.adobe.aem.guides.foodieland.core.models.SingleRecipeComponent">
    <div class="single-recipe__image">
        <img class="single-recipe__image-img"
                    data-cmp-hook-singleRecipeComponent="model"
                     src="${model.footerLogo}" 
                     alt=""/>
    </div>
    <div class="">
            <p> ${model.footerText} </p>
    </div>
    <div>
        <div class="">
            <p> © 2022 Marcelo. Powered by Marcelo Abreu </p>
        </div>
        <div class=" social-media">
            
        </div>
    </div>
</div>