.ads{
    display: flex;
    width: 400px;
    height: 434px;
    padding-top: 20px;
    padding-bottom: 20px;

    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}