.instagram-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    
    height: auto;

    &__text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    &__text-text {
        width: 706px;
        height: 56px;
        word-break: break-all;
        white-space: normal;
        text-align: center;
    }
    &__embeded-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        max-width: 1280px;
    }
}
