<div class="more-recipes"
     data-sly-use.model="com.adobe.aem.guides.foodieland.core.models.AllCategories">
    
     <div class="more-recipes__text">
        <div class="more-categories__text-title">
            <h2>Simple and tasty recipes</h2>
        </div>
        <div class="more-recipes__text-text">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Expedita at placeat iure accusamus error architecto facere </p>
        </div>
    </div>

    <div class="more-recipes__recipes-row">
            <sly class="all-rcipes__recipes-row-item "
            data-sly-resource="${'nome do componente' @ resourceType='wcm/foundation/components/parsys'}"></sly>
        
    </div>
</div>